<?xml version="1.0" ?>
<root>
	<body dim="2 2 2" name="body1" type="box">
		<x>0.0 0.0 0.0</x>
		<R>0. -1 0. 0.</R>
		<pinned>false</pinned>
		<magnetic>false</magnetic>
		<spring d="10" k="10" pB="0. 0. 0."/>
	</body>
	<body dim="2 2 2" name="body2" type="box">
		<x>4.0 0.0 0.0</x>
		<R>0. -1 0. 0.</R>
		<pinned>false</pinned>
		<magnetic>false</magnetic>
		<spring d="10" k="10" pB="0. 0. 0." pW="4. 10. 0."/>
	</body>
	<body dim="2 2 2" name="body3" type="box">
		<x>8.0 0.0 0.0</x>
		<R>0. -1 0. 0.</R>
		<pinned>false</pinned>
		<magnetic>false</magnetic>
		<spring d="10" k="10" pB="0. 0. 0."/>
	</body>
	<body dim="2 2 2" name="body4" type="box">
		<x>8.0 -5.0 0.0</x>
		<R>0. -1 0. 0.</R>
		<pinned>false</pinned>
		<magnetic>false</magnetic>
		<spring body2="body3" d="10" k="10" pB="0. 0. 0." pB2="0. 0. 0."/>
	</body>
</root>
